@mixin breakpoint($width, $property, $value) {
  @media screen and (min-width: $width) {
    #{$property}: $value;
  }
}

@mixin landing-page {
  height: 100vh;
  min-height: 500px;
  display: flex;
  padding-top: 5vh;
  position: relative;
  @include breakpoint($md-breakpoint, padding-top, 20vh);

  .background {
    width: 100vw;
    position: absolute;
    overflow: hidden;
    padding-top: 40vh;
    padding-left: 20px;
    bottom: 20vh;
    @include breakpoint($sm-breakpoint, padding-left, 30vw);
    @include breakpoint($sm-breakpoint, bottom, 10vh);
    img {
      @include breakpoint($sm-breakpoint, height, unset);
      height: 120px;
    }
  }

  .title {
    padding-left: 20px;
    @include breakpoint($md-breakpoint, padding-left, 10vw);
    * {
      font-weight: 100;
    }
    #main-heading {
      color: $dark-primary-color;
      font-size: 5rem;
      @include breakpoint($md-breakpoint, font-size, 7rem);
    }
    #sub-heading {
      font-size: 2.5rem;
      @include breakpoint($md-breakpoint, font-size, 4rem);
    }
  }
}